{% capture footer %}
{% include modal_footer.html %}
{% endcapture %}
<div class="scroll-item insta-post {% raw %}insta-{{type}}{% endraw %}">
    <a title="{% raw %}{{caption}} &#151;{{time_since}}{% endraw %}" href="{% raw %}{{media_url}}{% endraw %}" data-toggle="lightbox" data-type="{% raw %}{{media_type}}{% endraw %}"
        data-footer="{{ footer | strip_newlines | replace: '"', "\\'" }}" data-gallery="insta-gallery">
        <img src="{% raw %}{{image}}{% endraw %}" alt="{% raw %}{{caption}} &#151;{{time_since}}{% endraw %}">
        <video autoplay loop muted height="250" poster="{% raw %}{{image}}{% endraw %}">
            <source type="video/mp4" src="{% raw %}{{media_url}}{% endraw %}" alt="{% raw %}{{caption}} &#151;{{time_since}}{% endraw %}"/>
            <img src="{% raw %}{{image}}{% endraw %}" title="Your browser does not support the <video> tag">
        </video>
    </a>
</div>
