<footer id="footer" class="color-fill">
    <div class="container">
        <div class="row mt-3">
            <div class="col-12 col-md-4 mb-4 mb-md-0">
                <h4>Follow <span id="follow_me">me</span></h4>
                <div class="follow">
                    <a title="Follow on Instagram" href="https://www.instagram.com/{{ site.instagram_username }}/" target="_blank">
                        <div id="follow_instagram">
                            <i class="icon-instagram"></i>
                        </div>
                    </a>
                    <a title="Follow on Gitlab" href="https://gitlab.com/{{ site.gitlab_username }}/" target="_blank">
                        <div id="follow_gitlab">
                            <i class="icon-gitlab"></i>
                        </div>
                    </a>
                    <a title="Follow on Linkedin" href="https://www.linkedin.com/in/{{ site.linkedin_username }}/" target="_blank">
                        <div id="follow_linkedin">
                            <i class="icon-linkedin"></i>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4 mb-md-0">
                <h4>Email me</h4>
                <address>
                    <a title="Send Email" href="mailto:{{ site.email }}">{{ site.email }}</a>
                </address>
            </div>
            <div class="col-12 col-md-4 mb-4 mb-md-0">
                <h4>Newsletter</h4>
                <form action="https://tobiaszehntner.us4.list-manage.com/subscribe/post?u=ff8ab28253da4bfccc8992a2a&amp;id=2193e4e70e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div class="form-row">
                        <div class="col-8 col-sm-10 col-md-12 col-lg-8 col-xl-9 mb-2">
                            <input id="email_input" title="Email" type="text" class="form-control form-control-sm color-form" id="inlineFormInputEmail" placeholder="Email" name="EMAIL" id="mce-EMAIL">
                        </div>
                        <div class="col-4 col-sm-2 col-md-12 col-lg-4 col-xl-3 mb-2">
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ff8ab28253da4bfccc8992a2a_2193e4e70e" tabindex="-1" value=""></div>
                            <input title="Subscribe" type="submit" name="subscribe" value="Subscribe" class="btn btn-outline-primary btn-sm btn-block color-form">
                        </div>
                    </div>
                </form>
                <div id="newsletter-info">
                    <div class="float-left">
                        <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" position="auto"
                        data-content="I will use your email address to provide occasional updates on my work and exhibitions.
                        You can unsubscribe at any time by clicking the link in the footer of my newsletters.">
                            <small>Details</small>
                        </a>
                    </div>
                    <div class="float-right">
                        <a title="Go to Mailchimp's Privacy Policy" href='https://mailchimp.com/legal/' target='_blank'>
                            <small>Mailchimp's Privacy Policy</small>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div id="copyright" class="text-center">
            <small>All content © {{ site.time | date: "%Y" }} Tobias Zehntner | {{ site.time | date: "%d %b %Y"}} v{{ site.version }}</small>
        </div>
    </div>
</footer>
