<div id="header_space">
    <header>
        <div class="container">
            <h1 class="sr-only sr-only-focusable">Studio Tobias Zehntner</h1>
            <nav class="navbar navbar-light navbar-expand-sm py-0">
                <a title="Home" class="navbar-brand" href="{{ site.baseurl }}/">Studio Tobias Zehntner{% if site.beta %} <span class="badge color-fill">v{{ site.version}} Beta</span>{% endif %}</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a title="Lately" class="nav-link" href="{{ site.baseurl }}/#feed">Lately</a>
                        </li>
                        <li class="nav-item">
                            <a title="Statement" class="nav-link" href="{{ site.baseurl }}/#statement">Statement</a>
                        </li>
                        <li class="nav-item">
                            <a title="Projects" class="nav-link {% if page.type == 'project' %}active{% endif %}" href="{{ site.baseurl }}/#projects">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a title="CV" class="nav-link" href="{{ site.baseurl }}/#cv">CV</a>
                        </li>
                        <li class="nav-item">
                            <a title="Contact" class="nav-link" href="{{ site.baseurl }}/#contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
</div>
