{% raw %}
<div class="details">
    <small>
        {{caption}}
        <i>&#151;{{time_since}}</i>
        <a title="View on Instagram" href="{{link}}" class="insta-link" target="_blank">
            <i class="icon-instagram"></i>
        </a>
    </small>
</div>
{% endraw %}
