{% assign folder_path = '/assets/img/work/' | append: page.name | append: '/' %}
{% capture img_list %}
    {% for num in (1..100) %}

        {% assign filename = page.name | append: num %}
        {% assign exists = false %}

        {% assign thumb_path = false %}
        {% assign title_path = false %}
        {% assign full_path = false %}

        {% for file in site.static_files %}
            {% if file.path contains folder_path and file.basename contains filename %}
                {% assign exists = true %}
                {% if file.basename contains '-thumb' %}
                    {% assign thumb_path = file.path %}
                {% endif%}
                {% if file.basename contains '-title' %}
                    {% assign title_path = file.path %}
                {% endif%}
                {% if file.basename contains '-full' %}
                    {% assign full_path = file.path %}
                {% endif%}
            {% endif%}
        {% endfor %}

        {% unless exists %}
            {% break %}
        {% endunless %}

        {% if thumb_path contains '_inst'%}
            {% assign type = 'Installation View' %}
        {% endif%}
        {% if thumb_path contains '_still'%}
            {% assign type = 'Still Image' %}
        {% endif%}
        {% if thumb_path contains '_insp'%}
            {% assign type = 'Inspirational Picture' %}
        {% endif%}
        {% if thumb_path contains '_deta'%}
            {% assign type = 'Detail' %}
        {% endif%}
        {% if thumb_path contains '_sketch'%}
            {% assign type = 'Sketch' %}
        {% endif%}

        {% unless forloop.first == true %}::{% endunless %}{{thumb_path}}|{{title_path}}|{{full_path}}|{{type}}
    {% endfor %}
{% endcapture %}
{% assign img_array = img_list | split: '::'%}

<section id="project">
    <div class="container">
        <h1>
            <span>Projects</span>
            {% assign anchor = '#end_anchor' %}
            {% if page.next_in_category != nil and page.next_in_category.type == 'project' %}
                {% assign anchor = '#' | append: page.name %}
            {% endif %}
            <a title="Back to Projects" href="{{ site.baseurl }}/{{ anchor }}">
                <button type="button" class="close" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </a>
        </h1>
        <div class="project-header">
            <div class="project-nav">
                {% if page.previous_in_category != nil and page.previous_in_category.type == 'project' %}
                    <a title="Previous: {{ page.previous_in_category.title }}" href="{{ site.baseurl }}{{ page.previous_in_category.url }}">
                        <button class="btn-nav left" type="button">
                            <div>&#10094;</div>
                        </button>
                    </a>
                {% endif %}
            </div>
            <div class="project-title">
                <h5>{{ page.title }} <small>&#151; {{ page.year }}</small></h5>
                {% if site.display_project_tags %}
                    <div>
                        {% assign project_in_seconds = page.date | date: "%s" | plus: 0 %}
                        {% assign timespan = site.project_new_timeframe_months | times: 2628000 %}
                        {% assign timeframe = "now" | date: "%s" | minus: timespan %}
                        {% if project_in_seconds > timeframe %}
                            <span class="badge color-fill">New</span>
                        {% endif %}
                        {% for tag in page.tags %}
                            <span class="badge badge-secondary">{{ tag }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="project-nav">
                {% if page.next_in_category != nil and page.next_in_category.type == 'project' %}
                    <a title="Next: {{ page.next_in_category.title }}" href="{{ site.baseurl }}{{ page.next_in_category.url }}">
                        <button class="btn-nav right" type="button">
                            <div>&#10095;</div>
                        </button>
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-8 col-lg-6 order-lg-2">
                <div class="title-image">

                    {% if page.vimeo %}
                        {% for vimeo_item in page.vimeo %}
                            {% if forloop.first %}
                                <!-- If not defined in project, assume 16:9 format -->
                                {% assign ratio = 56.25 %}
                                {% if vimeo_item.h and vimeo_item.w %}
                                    {% assign ratio = vimeo_item.h | times: 100.0 | divided_by: vimeo_item.w %}
                                {% endif %}
                                <a title="{{ page.title }} Video" href="https://vimeo.com/{{ vimeo_item.id }}" data-remote="https://player.vimeo.com/video/{{ vimeo_item.id }}" data-toggle="lightbox">
                                    <div style="padding:{{ ratio }}% 0 0 0;position:relative;">
                                        <iframe title="{{ page.title }} Video" src="https://player.vimeo.com/video/{{ vimeo_item.id }}?dnt=1&fun=0&autoplay=0&color=ffffff&title=0&byline=0&portrait=0"
                                        style="position:absolute;top:0;left:0;width:100%;height:100%;"
                                        frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                    </div>
                                </a>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% unless page.vimeo %}
                        {% assign img_vals = img_array.first | split: '|' %}
                        <a title="{{ page.title }}: {{ img_vals[3] | strip }}" href="{{ site.baseurl }}{{ img_vals[2] | strip }}" data-toggle="lightbox" data-gallery="gallery-{{ page.name }}" data-footer="<small>{{ img_vals[3] | strip }}</small>">
                            <img class="img-fluid" src="{{ site.baseurl }}{{ img_vals[1] | strip }}" alt="{{ page.title }}: {{ img_vals[3] | strip }}">
                        </a>
                    {% endunless %}
                </div>
                <div class="row">
                    {% for vimeo_item in page.vimeo %}
                        {% if forloop.first == false %}
                            <!-- If not defined in project, assume 16:9 format -->
                            {% assign ratio = 56.25 %}
                            {% if vimeo_item.h and vimeo_item.w %}
                                {% assign ratio = vimeo_item.h | times: 100.0 | divided_by: vimeo_item.w %}
                            {% endif %}
                            <div class="col-12 col-md-6">
                                <a title="{{ page.title }} Video" href="https://vimeo.com/{{ vimeo_item.id }}" data-remote="https://player.vimeo.com/video/{{ vimeo_item.id }}" data-toggle="lightbox">
                                    <div style="padding:{{ ratio }}% 0 0 0;position:relative;">
                                        <iframe title="{{ page.title }} Video" src="https://player.vimeo.com/video/{{ vimeo_item.id }}?dnt=1&fun=0&autoplay=0&color=ffffff&title=0&byline=0&portrait=0"
                                        style="position:absolute;top:0;left:0;width:100%;height:100%;"
                                        frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                    </div>
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="mt-3 image-gallery">
                    {% for img in img_array %}
                        {% if page.vimeo or forloop.first == false %}
                            {% assign img_vals = img | split: '|' %}
                            <div class="gallery-item">
                                <a title="{{ page.title }}: {{ img_vals[3] | strip }}" href="{{ site.baseurl }}{{ img_vals[2] | strip }}" data-toggle="lightbox" data-gallery="gallery-{{ page.name }}" data-footer="<small>{{ img_vals[3] | strip }}</small>">
                                    <img class="img-fluid" src="{{ site.baseurl }}{{ img_vals[0] | strip }}" alt="{{ page.title }}: {{ img_vals[3] | strip }}"/>
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-12 col-lg-6 order-lg-1">
                <!-- Media -->
                <p>
                    {{ page.media }}.
                    {% if page.size %}{{ page.size | strip_html }}{%if page.time %},
                    {% endif %}{% endif %}{% if page.time %} {{ page.time | strip_html }}{% endif %}.
                </p>

                <!-- Description -->
                {{ page.description | markdownify }}

                <!-- Code Repo -->
                {% if page.repository %}
                    <p class="repo-link">
                        <small>
                            <a title="View Code on Gitlab" href="https://gitlab.com/tobiaszehntner/{{ page.repository }}" target="_blank">
                                <i class="icon-gitlab"></i>
                                <span>View code on Gitlab</span>
                            </a>
                        </small>
                    </p>
                {% endif %}

                <!-- CV Items -->
                {% for category in site.cv_categories %}
                    {% assign first_of_category = true %}
                    {% assign last_of_category = true %}

                    {% for item in site.categories.cv %}
                        {% if item.project contains page.name and category == item.category %}
                            {% if first_of_category %}
                                <h6>{{ category | capitalize }}</h6>
                                {% assign first_of_category = false %}
                                <table class="table table-sm">
                            {% endif %}
                            <tr>
                                <td>{{ item.year }}</td>
                                <td>{{ item.content | markdownify  | remove: '<p>' | remove: '</p>' }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}

                    {% if last_of_category %}
                        {% unless first_of_category %}
                            </table>
                        {% endunless %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>
