<!-- Vendor -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="{{ site.baseurl }}/assets/js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
<script src="{{ site.baseurl }}/assets/js/vendor/plugins.js"></script>
<script src="{{ site.baseurl }}/assets/js/vendor/popper.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/vendor/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/vendor/ekko-lightbox.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/vendor/moment.js"></script>
<script src="https://player.vimeo.com/api/player.js"></script>

<!-- Site specific -->
<script src="{{ site.baseurl }}/assets/js/header.js"></script>
<script src="{{ site.baseurl }}/assets/js/main.js"></script>
<script src="{{ site.baseurl }}/assets/js/footer.js"></script>
<script src="{{ site.baseurl }}/assets/js/theme_color.js"></script>

{% if page.type == 'home' %}
    <script>
      (() => {
          const d=document,s=d.createElement("script");s.type="module";
          s.src="https://w.behold.so/widget.js";d.head.append(s);
      })();
      </script>
    <script src="{{ site.baseurl }}/assets/js/scrollbar.js"></script>
{% endif %}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-137147151-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-137147151-1');
</script>
