<section id="projects">
    <div class="container">
        <h1><span>Projects</span></h1>
    </div>
    <div class="btn-nav-wrapper">
        <div id="project_scroll_bar" class="scroll-bar dragscroll">
            <div class="scroll-buffer scroll-item"></div>
            <div id="project_scroll_content" class="scroll-content scroll-item">
                {% assign first_project = true %}
                {% for project in site.categories.work %}
                <div class="scroll-item">
                    {% unless first_project %}
                        <a id="{{ project.previous_in_category.name }}" class="anchor"></a>
                    {% endunless %}
                    {% assign first_project = false %}
                        <a title="{{ project.title }}" href="{{ site.baseurl }}{{ project.url }}" class="project-link">
                            <div class="project-thumb">
                                <div class="project-header">
                                    <div class="title-image">
                                        {% assign path = '/assets/img/work/' | append: project.name | append: '/' %}
                                        {% for file in site.static_files %}
                                            {% if file.path contains path and file.basename contains '-title' %}
                                                <img src="{{ site.baseurl }}{{ file.path }}" alt="{{ project.title }}">
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    <div role="button" class="title">
                                        <h5>{{ project.title }} <small>&#151; {{ project.year }}</small>
                                            {% if site.display_project_tags %}
                                                <small class="tags">
                                                    {% assign project_in_seconds = project.date | date: "%s" | plus: 0 %}
                                                    {% assign timespan = site.project_new_timeframe_months | times: 2628000 %}
                                                    {% assign timeframe = "now" | date: "%s" | minus: timespan %}
                                                    {% if project_in_seconds > timeframe %}
                                                        <span class="badge color-fill">New</span>
                                                    {% endif %}
                                                    {% for tag in project.tags %}
                                                        <span class="badge badge-secondary">{{ tag }}</span>
                                                    {% endfor %}
                                                </small>
                                            {% endif %}
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <div class="scroll-buffer scroll-item">
                <a id="end_anchor" class="anchor"></a>
            </div>
        </div>
        <button id="project_btn_scroll_left" class="btn-nav scroll left" type="button">
            <span>&#10094;</span>
        </button>
        <button id="project_btn_scroll_right" class="btn-nav scroll right" type="button">
            <span>&#10095;</span>
        </button>
    </div>
</section>
