<section id="cv">
    <div class="container">
        <h1><span>CV</span></h1>
        <p>
            Swiss-Danish artist<br/>
            Born 1983, Switzerland<br/>
            Based in Brussels, Belgium
        </p>

        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                {% for category in site.cv_categories %}
                    <a title="{{ category | capitalize }}" class="nav-item nav-link{% if forloop.first%} active{% endif %}" id="nav-{{ category }}-tab" data-toggle="tab" href="#nav-{{ category }}" role="tab" aria-controls="nav-{{ category }}" aria-selected="true">
                        {{ category | capitalize }}
                    </a>
                {% endfor %}
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            {% for category in site.cv_categories %}
                <div class="tab-pane fade{% if forloop.first%} show active{% endif %}" id="nav-{{ category }}" role="tabpanel" aria-labelledby="nav-{{ category }}-tab">
                    <table class="table table-sm">
                        {% for item in site.categories.cv %}
                            {% if item.category == category %}
                                <tr>
                                  <td>{{ item.year }}</td>
                                  <td>{{ item.content | markdownify | remove: '<p>' | remove: '</p>' }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
