<section id="statement">
    <div class="container">
        <h1><span>Statement</span></h1>
    </div>
    <div class="ribbon color-fill">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-10 col-xl-9">
                    <h3>
                        <i>&#171;Science and art are the modern descendants of magic.&#187;</i>
                        <br/>
                        <small>&#151;Robert Shapley (1985)</small>
                    </h3>
                    <p>
                        My work begins with observations in everyday life: visual oddities with a
                        sympathetic resonance, small phenomena and movements with a degree of humility
                        and commonplace that are often overlooked. Taken into the studio to be
                        recreated, distilled, amplified and extended through experiments, I then form
                        new encounters that have their roots in my interests for architectural space
                        and natural sciences, yet bear the poetics of ordinary experience from which
                        they originate.
                    </p>
                    <p>
                        Reoccurring themes are light, movement, space and time. My recent work focuses
                        on first-hand experience, often in the form of kinetic works and
                        installations. Its nature requires time from the viewer, and suggests new ways
                        of seeing in return.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
