---
---
$colors: (
    text-main: {{ site.text_main }},
    text-on-color: {{ site.text_on_color }},
    bg-main: {{ site.bg_main }},
    bg-color-gradient-first: {{ site.bg_color_gradient_first }},
    bg-color-gradient-second: {{ site.bg_color_gradient_second }},
    bg-color-gradient: linear-gradient(120deg, {{ site.bg_color_gradient_first }} 0%, {{ site.bg_color_gradient_second }} 100%),
    border-color: {{ site.border_color }},
);

@mixin v($property, $varName, $i: false) {
  $important: if($i, "!important", "");
  #{$property}: map-get($colors, $varName) #{$important};
  #{$property}: var(--#{$varName}) #{$important};
}

$header-height: 41px;
$box-shadow:  0px 5px 5px 0px rgba(125,125,125,0.5);
$project-img-height-max: 60vh;

// Breakpoint specific
$footer-height: 400px;
$footer-height-md: 250px;
$project-img-height: 200px;
$project-img-height-md: 300px;
$project-img-height-lg: 350px;

// Bootstrap
@import "_functions";
@import "_variables";
@import "_breakpoints";

:root {
    --text-main: {{ site.text_main }};
    --bg-main: {{ site.bg_main }};
    --text-on-color: {{ site.text_on_color }};
    --bg-color-gradient: linear-gradient(120deg, {{ site.bg_color_gradient_first }} 0%, {{ site.bg_color_gradient_second }} 100%);
    --border-color: {{ site.border_color }};
    --box-shadow:  $box-shadow;
    --header-height: $header-height;
    --project-img-height-max: $project-img-height-max;
}

.color-fill {
    color: map-get($colors, text-on-color);
    background-image: map-get($colors, bg-color-gradient);
}
.color-border {
    border-color: map-get($colors, border-color);
}
.color-form {
    border-color: map-get($colors, text-on-color);
    color: map-get($colors, text-on-color);
}
.color-form:hover, .color-form:focus, .color-form:active {
    border-color: map-get($colors, bg-main) !important;
    color: map-get($colors, text-main) !important;
    background-color: map-get($colors, bg-main) !important;
}

// MAIN
html {
    @include v(background-color, bg-main);
    z-index: 0;
    scroll-behavior: smooth;
}

#main_container {
    padding-right: 0px;
    padding-left: 0px;
    @include v(background-color, bg-main);
}

body {
    bottom:0;
    left:0;
    padding-top: $header-height;
    @include v(color, text-main);
    @include v(background-color, bg-main);
    min-width: 100%;
    font-family: 'Krub', 'Open Sans', Helvetica, Verdana, sans-serif;
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6, .btn, nav {
    font-family: 'Abel', 'Open Sans', Helvetica, Verdana, sans-serif;
}
h1 span {
    font-size: 14px;
    text-transform: uppercase;
    @include v(color, text-main);
    border-bottom: 1px solid;
    @include v(border-color, border-color);
    padding: 2px;
}
main {
    position: relative;
    @include v(background-color, bg-main);
    z-index: 10;
    -webkit-box-shadow: $box-shadow;
            box-shadow: $box-shadow;
    overflow-x: hidden;
}
a {
    color: inherit;
    text-decoration: underline;
}
a:hover {
    color: inherit;
    text-decoration: none;
}
small {
    opacity: 0.7;
}
// Icons
[class^="icon-"]:before {
    margin: 0 !important;
    font-size: 1em;
}
.follow [class^="icon-"]:before {
    font-size: 1.5em;
}
.insta-more [class^="icon-"]:before, .repo-link [class^="icon-"]:before {
    font-size: 2em;
}
.details {
    line-height: 1.2;
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
}
section {
    @include v(background-color, bg-main);
}
// HEADER
header {
    min-height: $header-height;
    position: fixed;
    top: 0;
    -webkit-transition: top 0.2s ease-in-out;
    -o-transition: top 0.2s ease-in-out;
    transition: top 0.2s ease-in-out;
    width: 100%;
    z-index: 20;
    @include v(background-color, bg-main);
    border-bottom: 1px solid;
    @include v(border-color, border-color);
}
nav a {
    text-decoration: none;
}
.navbar {
    padding-left: 0;
    padding-right: 0;
}
.nav-up {
  top: calc($header-height * -1);
}
// Make navbar lights darker for accessability
.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.6);
}
#header_space {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $header-height;
    z-index: 20;
}
.navbar-toggler {
    border: 0;
    padding: 0;
}

.modal-footer {
    padding: 0.5rem 1rem;
}

.modal {
    overflow-y: auto !important;
}
.modal video {
 min-height: 100%;
 min-width: 100%;
 height: auto !important;
 width: auto !important;  // Safari
}
.ribbon {
    padding-top: 6vh;
    padding-bottom: 6vh;
}

// PROJECTS
#projects a.anchor {
  display: block;
  margin-top: -20vh;
  height: 20vh;
  visibility: hidden;
  pointer-events: none;
}
#projects .title-image {
    padding: 0 0.5rem;
}
#projects .title-image img {
    max-height: $project-img-height-max;
}
#projects .title {
    padding: 5px 0.5rem;
    cursor: pointer;
}
#projects a {
    text-decoration: none;
}
#project {
    min-height: calc(100vh - $header-height);
}
#project h1 span {
    border: 0;
}
#project h1 {
    border-bottom: 1px solid;
    @include v(border-color, border-color);
}
#project .title-image {
    margin-bottom: 1rem;
}
#project .project-header {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
    min-height: 42px;
}
#project .project-nav {
    display: inline-block;
    width: 40px;
}
#project .project-title {
    display: inline-block;
}
#project .btn-nav {
    padding: 0;
    line-height: 1;
}
#project .image-gallery {
    overflow: hidden;
    font-size: 0; // remove white-space between inline-block elements
}
#project .image-gallery .gallery-item {
    padding-right: 1rem;
    padding-bottom: 1rem;
    display: inline-block;
}
#project .image-gallery img {
    height: 100px;
}
#project .repo-link a {
    text-decoration: none;
}
#project .repo-link i {
    vertical-align: middle;
}
#project .repo-link span {
    padding-left: 0.5em;
    display: none;
}
#project .repo-link a:hover span {
    display: inline-block;
}
#project .table-sm td:nth-child(1) {
    width: 2rem;
}

// CV
#cv .nav-tabs {
    border-bottom: 0;
}
#cv .nav-tabs .nav-link {
    border: 0;
    padding: 0.1rem 1rem;
    margin: 0.4rem 0;
}
#cv .nav-tabs .nav-link.active {
    border-bottom: 1px solid;
    @include v(border-color, border-color);
}
.table-sm td, .table-sm th {
    padding: .2rem;
    border-top: 0;
}
.table-sm td:nth-child(1) {
    width: 4rem;
}

// FOOTER
footer {
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  padding: 15px;
  z-index: 1;
}
footer h4 {
    font-weight: bold;
}
footer #copyright {
    position: fixed;
    padding: 5px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    z-index: 2;
}
footer .follow a {
    float: left;
}
footer .follow div {
    padding-right: 10px;
}
footer address {
    margin-bottom: 0;
}
footer .form-control, .btn-outline-primary {
    background-color: transparent;
}
footer address a {
    text-decoration: none;
}
footer address a:hover {
    text-decoration: underline;
}

a[data-toggle="popover"] {
    cursor: pointer;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #333;
    opacity: 0.6 !important;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #333;
    opacity: 0.6 !important;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: #333;
    opacity: 0.6 !important;
}
::-webkit-input-placeholder { /* Most modern browsers support this now. */
    color: #333;
    opacity: 0.6 !important;
}
:-ms-input-placeholder { /* Most modern browsers support this now. */
    color: #333;
    opacity: 0.6 !important;
}
::-ms-input-placeholder { /* Most modern browsers support this now. */
    color: #333;
    opacity: 0.6 !important;
}
::placeholder { /* Most modern browsers support this now. */
    color: #333;
    opacity: 0.6 !important;
}

.text-light::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #FFF;
    opacity: 0.6 !important;
}
.text-light:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #FFF;
    opacity: 0.6 !important;
}
.text-light::-ms-input-placeholder { /* Microsoft Edge */
    color: #FFF;
    opacity: 0.6 !important;
}
.text-light::-webkit-input-placeholder { /* Most modern browsers support this now. */
    color: #FFF;
    opacity: 0.6 !important;
}
.text-light:-ms-input-placeholder { /* Most modern browsers support this now. */
    color: #FFF;
    opacity: 0.6 !important;
}
.text-light::-ms-input-placeholder { /* Most modern browsers support this now. */
    color: #FFF;
    opacity: 0.6 !important;
}
.text-light::placeholder { /* Most modern browsers support this now. */
    color: #FFF;
    opacity: 0.6 !important;
}


::-webkit-input-placeholder:focus { /* Most modern browsers support this now. */
    @include v(color, text-main, i);
}
::-ms-input-placeholder:focus { /* Most modern browsers support this now. */
    @include v(color, text-main, i);
}
::-webkit-input-placeholder:focus { /* Most modern browsers support this now. */
    @include v(color, text-main, i);
}
:-ms-input-placeholder:focus { /* Most modern browsers support this now. */
    @include v(color, text-main, i);
}
::-ms-input-placeholder:focus { /* Most modern browsers support this now. */
    @include v(color, text-main, i);
}
:-ms-input-placeholder:focus { /* Most modern browsers support this now. */
    @include v(color, text-main, i);
}
::placeholder:focus { /* Most modern browsers support this now. */
    @include v(color, text-main, i);
}

/* Horizontal scroll box */
.scroll-bar {
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
}
// If javascript is enabled, hide scrollbar where possible (not Firefox)
.js .scroll-bar {
    /* Make an auto-hiding scroller for the 3 people using a IE */
    -ms-overflow-style: -ms-autohiding-scrollbar;
    /* Remove the default scrollbar for WebKit implementations */
    &::-webkit-scrollbar {
        display: none;
    }
}
.scroll-bar .scroll-buffer {
    min-width: 10vw;
    max-width: 80vw;
}
.scroll-content {
    -webkit-transition: -webkit-transform .6s ease-in-out;
    transition: -webkit-transform .6s ease-in-out;
    -o-transition: transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
    transition: transform .6s ease-in-out, -webkit-transform .6s ease-in-out;
}
.scroll-item {
    display: inline-block;
}
.scroll-content-no-transition {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}

.btn-nav-wrapper {
    position: relative;
}
.btn-nav {
    /* Reset the button */
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background: transparent;
    padding: 0;
    border: 0;
    &:focus {
        outline: 0;
    }
    /* Now style it as needed */
    position: absolute;
    top: 0;
    bottom: 0;
    font-size: 3em;
    padding-left: 5px;
    padding-right: 5px;
    color: rgba(125,125,125,0.6);
    z-index: 10;
    cursor: pointer;
}
.btn-nav:hover {
    @include v(color, text-main);
}
.btn-nav.left {
    left: 0;
}
.btn-nav.right {
    right: 0;
}
.btn-nav.scroll {
    opacity: 0;
}
.btn-nav.scroll:hover{
    @include v(color, bg-main);
}
button.close span {
    font-size: 1.5rem;
    vertical-align: text-bottom;
}
button.close {
    padding-top: 1.2rem;
    padding-left: 20px;
}




// xs (no breakpoint)
:root {
    --footer-height: $footer-height;
    --project-img-height: $project-img-height;
}
#projects .tags {
    display: block;
    padding-top: 5px;
}
footer {
    height: $footer-height;
}
footer #copyright {
    height: 50px;
}
section#project {
    padding-top: $header-height;
}
body {
    padding-bottom: $footer-height;
}
#projects .title-image img {
    height: $project-img-height;
}
@media screen and (orientation: portrait) {
    section {
        padding: 10vh 0;
    }
    section:first-of-type {
        padding-top: 15vh;
    }
    section:last-of-type {
        padding-bottom: 10vh;
    }
}
@media screen and (orientation: landscape) {
    section {
        padding: 7vh 0;
    }
    section:first-of-type {
        padding-top: 15vh;
    }
    section:last-of-type {
        padding-bottom: 10vh;
    }
}
@include media-breakpoint-up(sm) {
    #projects .tags {
        display: inline-block;
        float: right;
    }
}
@include media-breakpoint-up(md) {
    :root {
        --footer-height: $footer-height-md;
        --project-img-height: $project-img-height-md;
    }
    body {
        padding-bottom: $footer-height-md;
    }
    #projects .title-image img {
        height: $project-img-height-md;
    }
    footer {
        height: $footer-height-md;
    }
    footer #copyright {
        height: 30px;
    }
}
@include media-breakpoint-up(lg) {
    :root {
        --project-img-height: $project-img-height-lg;
    }
}
@include media-breakpoint-up(xl) {

}
.btn-nav.scroll.left {
    left: 0;
    [data-overflowing="both"] ~ &,
    [data-overflowing="left"] ~ & {
        opacity: 1;
    }
}
.btn-nav.scroll.right {
    right: 0;
    [data-overflowing="both"]  ~ &,
    [data-overflowing="right"] ~ & {
        opacity: 1;
    }
}
