<!doctype html>
<html class="no-js" lang="en">
    <head>
    	<meta charset="utf-8">
    	<meta http-equiv="x-ua-compatible" content="ie=edge">
    	<title>Studio Tobias Zehntner{% if page.type != 'home' %} - {{ page.title }}{% endif %}</title>
    	<meta name="description" content="{{ site.description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover, shrink-to-fit=no">

    	<link rel="manifest" href="{{ site.baseurl }}/site.webmanifest">
    	<link rel="apple-touch-icon" href="{{ site.baseurl }}/icon.png">

        <!-- Base -->
    	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/normalize.min.css">
    	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/boilerplate.css">
    	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/bootstrap.min.css">
    	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/ekko-lightbox.css">

        <!-- Fonts -->
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/fontello.css">
        <link href="https://fonts.googleapis.com/css?family=Abel|Krub:400,400i" rel="stylesheet">

        <!-- Modernizr needs to load before personal css (to add js/no-js class) -->
        <script src="{{ site.baseurl }}/assets/js/vendor/modernizr-3.6.0.min.js"></script>

        <!-- Personal -->
    	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/tz.css">

    </head>
    <body>
        <div id="main_container" class="container-fluid">
    		{% include header.html %}
    		<main>
    			{{ content }}
    		</main>
    		{% include footer.html %}
        </div>
        {% include scripts.html %}
    </body>
</html>
